main {
  height: 95vh;
}

.cover-image {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/cover-page.jpeg);
  background-blend-mode: color;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
